.about {
  display: flex;
}

.info {
  flex: 2;
}

.name {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.2em;
  > span {
    font-family: serif;
  }
}

.description {
  padding-top: 30px;
  font-weight: 700;
  font-size: 1rem;
}

.jobDescription {
  opacity: 0.58;
  max-width: 500px;
  padding-bottom: 20px;
  &:last-of-type {
    padding-bottom: 40px;
  }
}

.quote {
  position: relative;
  margin-left: 40px;
  margin-top: 65px;
  font-size: 1.3rem;
  z-index: 3;
  opacity: 0.7;
  white-space: nowrap;
  &:before {
    position: absolute;
    z-index: 1;
    content: open-quote;
    top: 0;
    left: -50px;
    line-height: 6.8rem;
    font-size: 11rem;

    font-weight: 700;
    right: 100%;
    opacity: 0.1;
  }
}

.avatar {
  flex: 1;
  opacity: 0.05;
  position: relative;
  align-self: center;
  max-width: min(315px, 50%);
}

@media all and (max-width: 768px) {
  .avatar {
    display: none;
  }
}
